* {
    box-sizing: border-box;
}

body {
    background: #23252C;
}

.container {
    font-family: 'Inter', sans-serif;
    width: 317px;
    margin: auto;
    color: #FFFFFF;
    background: #1A1B21;
    font-size: 12px;
}



/* Info Section */

.profile-pic {
    width: 317px;
    height: 317px;
    margin: auto;
    border-radius: 10px 10px 0 0;
}

.text-container {
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: -10px;
}

h3 {
    font-size: 15px;
    color: #bbbab8;
    font-weight: 400;
    margin-bottom: -1px;
}

button {
    width: 115px;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 10px 20px 10px; 
    border-radius: 5px;
    border: none;
}

.website-link {
    text-decoration: none;
    color: #5093E2;
}

.website:hover,
.website:active {
    color: #fff;
}

.linkedin-button {
    background-color: #5093E2;
    color: #FFFFFF
}

.linkedin-button:hover,
.linkedin-button:active {
    background-color: #FFFFFF;
    color: #5093E2;
    /* opacity: 90%; */
    box-shadow: 2px 2px;
}

.email-button:hover,
.email-button:active {
    background-color: lightgray;
    color: #FFFFFF;
    box-shadow: 2px 2px;
}

/* About and Interests Section */

.detail-container {
    padding: 0 30px;
    background: #1A1B21;
    margin-bottom: 20px;
    line-height: 17px;
}

#interest-container {
    margin-bottom: 35px;
}

/* Footer Section */

.footer-container {
    height: 80px;
    padding: 42px 15px;
    background: #3a3c48;
    border-radius: 0 0 10px 10px;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul li {
    list-style: none;
    margin: 0 15px;
    
}

ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
}

#links {
    margin: 15px 0;
}

ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #FFFFFF;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #FFFFFF;
}

ul li a:hover {
    color: #FFFFFF;
    box-shadow: 0 0 5px #FFFFFF;
    text-shadow: 0 0 5px #FFFFFF;
}